/* Basic CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    background-color: #eaeaea; /* Light grey background for the whole page */
    color: #333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}



a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: #007bff; /* A nice blue */
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
    text-align: center;
    text-decoration: none;
    display: inline-block; /* Allows padding and margin to be applied */
    margin: 5px; /* Add a small margin around buttons */
    margin-bottom: 50px;
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}

button:active {
    background-color: #004085; /* Even darker when clicked */
}

button:focus {
    outline: none; /* Remove default focus outline */
    box-shadow: 0 0 0 3px rgba(0, 123, 255, 0.5); /* Custom focus outline */
}